.item {
  margin-left: 17px;
  list-style: none;
  font-weight: 700;
  padding-left: 0;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;

  color: #282727;
  font-size: 16px;
  line-height: 24px;

  transition: color 250ms var(--timingFn);
}

.link:after {
  margin-left: 5px;
}

.link:hover,
.link:focus {
  color: var(--accentColor);
}

.name {
  color: #282727;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
}

.text {
  color: #282727;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
}