.university {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--accentColor);
}

.education {
  margin-top: 10px;
  margin-bottom: 15px;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.time {
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;

  line-height: 2;
  font-weight: 700;
  color: #282727;
  font-size: 13px;

}

.divider {
  color: #000000;
}

.list {
  margin-top: 10px;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primaryTextColor);
}

.duty {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  list-style-type: none;
  color: #282727;
}

.item {
  list-style: none;
}