.summary {
  margin-top: 25px;
  margin-bottom: 15px;

  color: var(--accentColor);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.education {
  margin-top: 10px;
  margin-bottom: 15px;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.divider {
  color: #000000;
}

.list {
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.71;

  list-style: inside;
  color: var(--primaryTextColor);
}

.summaryContainer {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  list-style: inside;
  color: #282727;
}