.item {
  list-style: none;
  margin-top: 30px;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.title {
  margin-bottom: 15px;
  color: var(--accentColor);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}

.company {
  color: var(--accentColor);
}

.time {
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;

  line-height: 2;
  font-weight: 700;
  color: #282727;
  font-size: 13px;
}

.divider {
  color: #000000;
}

.duty {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  list-style: inside;
  color: #282727;
  list-style: none;
}
